# 가동현: 이건 실제 문서가 아니라 예시 파일임
#        api키들은 깃헙에 올리는 동시에 정지를 먹으니 꼭 개인 env 파일을 만들어 사용할것
#        깃 이그노어에 env 를 넣어놨음!!

# LLM 모델 결정 후 채울 것
LLM_API_KEY=
LLM_BASE_URL=

# Notion
NOTION_TOKEN=
NOTION_DATABASE_ID=

# Ollama (로컬 모델 쓸 경우)
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL_NAME=qwen2.5:7b

# SQLite DB 경로
SQLITE_DB_PATH=storage/sqlite/chat.db

# 파일 저장 경로 (NAS 연결 시 변경)
STORAGE_PATH=storage/uploads

# ChromaDB
CHROMA_HOST=localhost
CHROMA_PORT=8000